# macOS
.DS_Store

# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/
.kotlinc/
.kts.cache/

# Arquivos temporários e de sistema
*.log
*.tmp
*.bak
*.swp
*.class
*.apk
*.ap_
*.dex
*.jar
*.keystore
*.jks
*.hprof
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
out/

# Lint, cache, lock
lint/
**/*.lock
**/checksums.lock

# Arquivos locais e configs pessoais
local.properties
gradle-app.setting
gradle.properties.local
